<h1>Pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Can Adopt</th>
    <th>Status</th>
    <th>Admission Date</th>
  </tr>
<% for pet in @pets %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.can_adopt %></td>
    <td><%= pet.status %></td>
    <td><%= pet.admission_date %></td>
  </tr>
<% end %>
</table>
